.header {
    background-color: #43b15b !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.titulo-header {
    color: white !important;
}

.card-apartamentos {
   margin-top : 5%
}

.fa-dollar-sign {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #43b15b;
    color: white;

}

.conteudo-card-espaco {
    margin-left: 25px;
}

.fa-plus {
    background-color: #43b15b;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 30px;
    margin-left: 20px;
}

.btn-verMais {
    text-decoration: none !important;
    color: gray;
}

.btn-verMais:hover {
    color: black;
}


/*css filtros*/

.classe-fitros {
   margin-top:5%;
   width: 15%;
   margin-left : 10%;
    
}
.classe-fitros2{
    display: flex;
    justify-items:left;
    width:100%;
    margin-left:10%;
}

/*btn filtros*/

.fa-search {
    font-size: 40px;
    color: rgb(39, 170, 68);
    margin-top: 20px;
}

.fa-search:hover {
    color: black;
}
.all{
    display: flex;
    justify-content: space-around;
}
.cards-aps{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    justify-items:center;
    width:80%;
    margin-left:10%;
}
.conteudo{
    display:flex;
    flex-wrap:wrap;
    width:15%;
    height:450px;
    justify-content:space-between;
    flex-flow:column;
    border-radius:5px;
    margin-bottom:5%;
    box-shadow: 3px 2px 20px #80787861;
	border-radius: 5px;
}
.remove{
    display:none;
}
.btn-reset{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top : 5%
}
.reset{
    background: rgb(5, 138, 244);
    border-style: none;
    padding : 10px;
    border-radius: 5px;
    color:white;
}
.remove{
    display : none;
}